@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}

.hero {
  background: #282c35;
  color: white;
  padding: 50px 20px;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .img-logo {
    width: 200px;
    border-radius: 25px;
    vertical-align: middle;
    height: 90px;
  }

  em {
    font-size: 1.2rem;
    display: block;
    margin-top: 10px;
  }
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 280px; /* Increased width */
  height: 320px; /* Increased height */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 16px;
}

.card:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}
